* {
    background-color: #1DAD98;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 40px;
    color: yellow;
    text-align: center;
}

img {
    width: auto;
    height: 140px;
    margin: 5px;
    border: 7px solid white;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}