@import url('https://fonts.googleapis.com/css2? family= Adamina & family= Akshar:wght@300;400 & family= Inter:wght@200 & family= Noto+Sans+Old+ Permic & familia= Roboto:ital,wght@1,300 & display=swap');

* {
    background-color: #21303A;
    margin: 5px 2px 5px 2px;
}

.title-container {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    border: 2px solid #1C2735;
    background-color: white;
    margin: 30px 0px 30px 0px;
}

h1 {
    font-size: 60px;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 4px;
    text-align: center;
    background-color: white;
    color: #3d6774cf;
}

h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-style: oblique; /*Letra inclinada*/
}

p {
    color: white;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size: 15px;
}

.parrafo-container {
    margin-bottom: 10px;
}

.title-color1 {
    color: #AAFFFF;
}

.title-color2 {
    color: #FFC6FF;
}

.title-color3 {
    color: #C6C6FF;
}

img {
    margin-left: 20px;
    margin-bottom: 12px;
    margin-top: 10px;
    border: 2px solid white;
}